.navbar-nav .button {
  line-height: 14px;
}

.dropdown-item {
  font-size: 12px;
  line-height: 26px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
}

.promo .script {
  margin-bottom: 16px;
  line-height: 52px;
}

.promo p {
  &:nth-child(2) {
    font-size: 41px;
    line-height: 52px;
    font-weight: 700;
  }

  &:nth-child(3) {
    line-height: 52px;
  }
}

.features {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;

  .script {
    margin: 0;
  }
}

.features-container {
  padding-left: 5%;
  padding-right: 5%;
}

.catalog-item {
  margin-top: 20px;
  min-width: 270px;
  padding-right: 0;
  padding-left: 0;
  margin-left: 25px;
  border: 1px solid #5f7786;
}

.catalog-item {
  .navbar-nav {
    padding: 5px 0;
    border-top: 1px solid #5f7786;
    border-bottom: 1px solid #5f7786;
  }

  .button {
    text-transform: capitalize;
  }

  p {
    margin-bottom: 0;
  }

  .catalog-text {
    margin: 15px 0;
    font-size: 20px;
    line-height: 26px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
  }
}

.features-title {
  min-width: 280px;
}


.text-rating {
  font-size: 14px;
  line-height: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.rating {
  margin-left: 10px;
}

.services-block {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f0efef;
}

@media (min-width: 1200px) {
  .catalog-item.col {
    margin-top: 30px;
  }
}

@media (min-width: 1500px) {
  .catalog-item.col {
    margin-top: 20px;
  }
}

@media (min-width: 1700px) {
  .features-container {
    padding-left: 15%;
    padding-right: 4%;
  }

  .features {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .catalog-item.col {
    margin-top: -180px;
  }
}